.footer .container {
    max-width: 1444px;
    margin: 0px auto;
    width: 100%;
    padding: 0px 10px;    
}
.footer .top-footer{
    padding: 40px 0px;  
    overflow: hidden;
}
.footer .bottom-footer {
    border-top: 1px solid #D8D8D8;
    padding: 20px 0px;
}
.footer .bottom-footer ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    gap: 20px;  
}
.footer .ut-col-5 {
    width: 20%;
    float: left;
}
.footer .iconlist{
    display: flex;
    align-items: center;
    gap: 10px;  
    margin-bottom: 20px;
}
.footer .top-footer h3{
    font-family: 'Mortend';
    font-size: 16px;
    color: #C60D12;  
}
.footer .top-footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    font-family: 'Gotham-book';  
}
.footer .top-footer ul a{
text-decoration: none;
    color: black;  
}
.footer .top-footer li{
     margin-bottom: 14px; 
}
.footer .iconlist .text{
    font-size: 16px;
    font-family: 'Gotham-book';
}

@media (max-width: 767px) {
    .footer .ut-col-5 {
        width:100%;
    }
}