body {
    margin: 0;
    padding: 0;
    line-height: 1.208333;
    font-size: 1.5em
}

.header {
    background: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2)
}

.header .container {
    max-width: 1444px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13.5px 10px;
    gap: 82px;
    width: 100%
}

.navigation .menu {
    overflow: inherit;
    align-items: flex-start;
    display: flex;
    gap: 40px
}

.navigation .menu a {
    font-family: Gotham-book;
    color: #000;
    font-size: 16px;
    text-decoration: none
}

.navigation li {
    position: relative
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.navigation .sub-menu {
    width: 250px;
    position: absolute;
    visibility: hidden;
    background: #c60d12;
    transition: .5s;
    transform: translate(-50%);
    border-radius: 6px;
    z-index: -9;
    opacity: 0;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 18px
}

.navigation .sub-menu a {
    color: #fff
}

.navigation li:hover .sub-menu {
    visibility: visible;
    z-index: 99;
    opacity: 1;
    top: 70px
}

.header .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background: #c60d12;
    gap: 8px;
    padding: 7px 13px;
    border-radius: 43px;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 700
}

@media (max-width:1370px) {
    .header .container {
        gap: 20px
    }
}

@media (max-width:1040px) {
    .header .chip,
    .header .cta,
    .header .navigation {
        display: none
    }
}

@media (min-width:1040px) {
    .header .mobile-tap {
        display: none
    }
}

.header .mobile-tap {
    cursor: pointer
}

body.sidebar-open {
    overflow: hidden
}

.sidebar-open::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(0 0 0 / 52%)
}

.mobile-navigation .is-parent ul,
.sidebar-wrap {
    display: none
}
 
.sidebar-open .sidebar-wrap {
    display: block;
    width: 350px;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 30px
}

.mobile-navigation a {
    display: flex;
    justify-content: space-between;
    font-family: Gotham-book;
    color: #000
}

.mobile-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.mobile-navigation .is-parent .show-sub {
    display: block;
    padding-top: 10px;
    font-size: 14px;
    padding-left: 20px
}

.mobile-navigation>ul>li {
    margin-bottom: 10px
}

.sidebar-wrap .side-close {
    cursor: pointer;
    font-weight: 700;
    display: inline-flex;
    width: 35px;
    height: 35px;
    border: 1px solid #757575;
    border-radius: 50%;
    justify-content: center;
    line-height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    rotate: 45deg
}

.mobile-navigation {
    padding-top: 40px
}

.navigation .is-parent:before{
    width: 15px;
    content: " ";
    background-image: url(/img/arrow-down.png);
    position: absolute;
    right: -20px;
    top: 10px;
    height: 9px;
    background-repeat: no-repeat;
}
.navigation .is-parent{
  position:relative;
}


.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: .5s infinite pulse
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(.95)
    }
    70% {
        transform: scale(1)
    }
}