.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: .5s infinite pulse
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(.95)
    }
    70% {
        transform: scale(1)
    }
}